<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
	
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="assets/css/Basic-Site.css">
    <link rel="stylesheet" href="assets/css/styles.css">
	
</head>

<body style="background-color:rgb(247,255,244);height:100%;">
	<div class="container">
 	<!-- LOGO -->        
	{% include 'includes/_logo.html'}
		
 	<!-- NAVBAR -->        
	{% include 'includes/_navbar.html'}
	
	<!-- NOTIFICATIONs from FLASK --> 
	{# page-level feedback notices #}
	
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		  <div class="alert alert-warning fade in">
			<a class="close" data-dismiss="alert">&times;</a>
			{{ message }}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	
	
	<!-- CONTENT -->
    <div class="row" style="margin:0;padding:5px 0;"></div>
	{% block content %}
	{# main content area #}
	{% endblock %}

	
	
	<!-- footer  -->
	{% include 'includes/_footer.html'}
	
	
    </div><!-- /container -->
	
	<script src="assets/js/iban.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
