{% extends "base.html" %}

{% block content %}

	<div class="row" style="margin:0; padding:5px 0;">
        <div class="col-md-8 col-md-offset-2">
            <!-- 1 / 4 -->
			<h3>Jetzt Mitglied werden!</h3>
			<br>
			<h4>Angaben zur Person</h4>
			<form class="form-horizontal form-label-left" method="post">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group"> 
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Art der Mitgliedschaft</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div id="membership_type" class="btn-group btn-group-justified" data-toggle="buttons">
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="1"> &nbsp; Ordentliches Mitglied &nbsp;
									</label>
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="2"> &nbsp; F&ouml;rdermitglied &nbsp;
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Firma</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="company" required="" placeholder="Apfel GmbH" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Vorname</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="firstname" required="" placeholder="Peter" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Nachname</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="lastname" required="" placeholder="Schmidt" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">E-Mail</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="email" name="email" required="" placeholder="peter@schmidt.de" autofocus="" inputmode="email">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Straße</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="lastname" required="" placeholder="Letzter Hasenpfad 1" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">PLZ & Ort</label>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<input class="form-control" type="number" name="zip-code" required="" placeholder="60598" pattern="[0-9]" autofocus="">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input class="form-control" type="text" name="town" required="" placeholder="Frankfurt" pattern="[a-Z]" autofocus="">
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- 2 / 4 -->
			<h4>freiwillige Daten</h4>
			<form class="form-horizontal form-label-left" method="post">
				<div class="row">
					<div class="col-md-12">
						
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Handy</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="tel" name="mobile" required="" placeholder="0177 123456" pattern="[0-9]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Telefon</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="tel" name="phone" required="" placeholder="069 67 68 69" pattern="[0-9]" autofocus="" inputmode="latin-name">
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- 3 / 4 -->
			<h4>Bankverbindung</h4>
			
			<form class="form-horizontal form-label-left" method="post">
				<div class="row">
					<div class="col-md-12">
					
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Kontoinhaber</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="firstname" required="" placeholder="Peter Schmidt" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">		  
								<p>IBAN entweder berechnen oder direkt eingeben.</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Kontonummer</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="number" name="ktn" required="" placeholder="4040160100" pattern="[0-9]" autofocus="">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Bankleitzahl</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="number" name="blz" required="" placeholder="50080000" pattern="[0-9]" autofocus="" >
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
							  <button type="submit" class="btn btn-success">IBAN und BIC berechnen</button>
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">IBAN</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control iban" type="text" name="iban" required="" placeholder="DE12123423453456456789">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">BIC</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control iban" type="text" name="bic" required="" placeholder="PBXXXXFF">
							</div>
						</div>
						<div class="ln_solid"></div>
						
						
						
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Monatlicher Beitrag</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="input-group">
									<input class="form-control" type="number" name="monthlyfee" required="" value="9" pattern="[0-9]" autofocus="">
									<span class="input-group-addon">.00 €</span>
								</div>
							</div>
						</div>
						<div class="form-group"> 
							<label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div id="membership_type" class="btn-group btn-group-justified" data-toggle="buttons">
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="1"> &nbsp; 3 &nbsp;€
									</label>
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="2"> &nbsp; 6 &nbsp;€
									</label>
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="3"> &nbsp; 30 &nbsp;€
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">SEPA-Einwilligung</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="checkbox">
									<label>
									  <input type="checkbox" value=""> <span class="required">*</span>
									</label>
                          </div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Resizable Text area</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							  <textarea readonly="readonly" stype="font-size: 8px;" rows="5" class="resizeable-textarea form-control" placeholder="">Ich ermächtige den Frankfurter Kelterei Kultur e.V., Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die vom Frankfurter Kelterei Kultur e.V. auf mein Konto gezogenen Lastschriften einzulösen. Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belastenden Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.

Frankfurter Kelterei Kultur e.V.
Gläubiger-Identifikationsnummer: DE123456789

Die Mandatsreferenz wird separat mitgeteilt.
</textarea>
							</div>
						  </div>
						
					</div>
				</div>
			</form>

			
			
			
        </div>
</div>

{% endblock %}