<!DOCTYPE html>
<html style="height:100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frankfurter Kelterei Kultur e.V.</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="assets/css/Basic-Site.css">
    <link rel="stylesheet" href="assets/css/styles.css">
	
</head>

<body style="background-color:rgb(247,255,244);height:100%;">

	<!-- Page wrapper-->
    <div class="container" id="pagewrapper">
	
		<!-- Header-->
        <div class="page-header hidden-xs hidden-sm" id="logo-head">
            <h1 class="text-nowrap text-center" style="font-size:48px;margin:0;color:rgb(0,0,0);">Frankfurter Kelterei Kultur e.V.</h1>
        </div>
		<!-- Menu-->
        <div style="background-color:#1fb0e3;">
			<!-- Menu - fix -->
            <div class="hidden-xs navbar-inverse affix-top" id="affix-width" data-spy="affix" data-offset-top="43">
                <div class="row" style="background-color:#cdcccc;margin:0;">
                    <div class="col-md-12 col-sm-12" style="padding:0;">
                        <ul class="nav nav-pills nav-justified">
                            <li {% if request.endpoint == 'home' %}><a href="{{ url_for('home') }}" style="padding:5px 0;">Aktuelles</a></li>
                            <li class="disabled"><a href="#" style="padding:5px 0;">Wissen</a></li>
                            <li {% if request.endpoint == 'foerdern' %}><a href="{{ url_for('foerdern') }}" style="padding:5px 50px;">Mitglied werden</a></li>
                            <li class="disabled"><a href="#" style="padding:5px 0;">Bäume</a></li>
                            <li {% if request.endpoint == 'aboutus' %}><a href="{{ url_for('aboutus') }}" style="padding:5px 0;">Verein</a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<!-- Menu - mobile -->
            <nav class="navbar navbar-default hidden-sm hidden-md hidden-lg">
                <div class="container-fluid">
                    <div class="navbar-header"><a class="navbar-brand" href="#">FraKeKu e.V.</a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                    <div
                        class="collapse navbar-collapse" id="navcol-2">
                        <ul class="nav navbar-nav" style="background-color:#f5df51;">
                            <li {% if request.endpoint == 'home' %} role="presentation"><a href="{{ url_for('home') }}">Aktuelles</a></li>
                            <li {% if request.endpoint == 'foerdern' %} role="presentation"><a href="{{ url_for('foerdern') }}">Mitglied werden</a></li>
                            <li {% if request.endpoint == 'aboutus' %} role="presentation"><a href="{{ url_for('aboutus') }}">Verein</a></li>
                        </ul>
					</div>
				</div>
			</nav>
		</div>
	
	<!-- CONTENTROW-->
    <div id="contentrow" class="row" >
			<div class="row" style="margin:0; padding:5px 0;">
				<div class="col-md-8 col-md-offset-2">
					<img src="assets/img/FKKeV.png" class="img-responsive"></img>
				</div>
			</div>
			<div class="row" style="margin:0; padding:5px 0;">
        <div class="col-md-12">
            <!-- 1 / 4 -->
			<h3> --- Seite noch im Aufbau ---</h3>
			<br>
			<h4>Angaben zur Person</h4>
			<form class="form-horizontal form-label-left" method="post">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group"> 
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Art der Mitgliedschaft</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div id="membership_type" class="btn-group btn-group-justified" data-toggle="buttons">
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="1"> &nbsp; Ordentliches Mitglied &nbsp;
									</label>
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="2"> &nbsp; F&ouml;rdermitglied &nbsp;
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Firma</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="company" required="" placeholder="Apfel GmbH" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Vorname</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="firstname" required="" placeholder="Peter" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Nachname</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="lastname" required="" placeholder="Schmidt" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">E-Mail</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="email" name="email" required="" placeholder="peter@schmidt.de" autofocus="" inputmode="email">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Straße</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="lastname" required="" placeholder="Letzter Hasenpfad 1" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">PLZ & Ort</label>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<input class="form-control" type="number" name="zip-code" required="" placeholder="60598" pattern="[0-9]" autofocus="">
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input class="form-control" type="text" name="town" required="" placeholder="Frankfurt" pattern="[a-Z]" autofocus="">
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- 2 / 4 -->
			<h4>freiwillige Daten</h4>
			<form class="form-horizontal form-label-left" method="post">
				<div class="row">
					<div class="col-md-12">
						
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Handy</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="tel" name="mobile" required="" placeholder="0177 123456" pattern="[0-9]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Telefon</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="tel" name="phone" required="" placeholder="069 67 68 69" pattern="[0-9]" autofocus="" inputmode="latin-name">
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- 3 / 4 -->
			<h4>Bankverbindung</h4>
			
			<form class="form-horizontal form-label-left" method="post">
				<div class="row">
					<div class="col-md-12">
					
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Kontoinhaber</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="text" name="firstname" required="" placeholder="Peter Schmidt" pattern="[a-Z]" autofocus="" inputmode="latin-name">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">		  
								<p>IBAN entweder berechnen oder direkt eingeben.</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Kontonummer</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="number" name="ktn" required="" placeholder="4040160100" pattern="[0-9]" autofocus="">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Bankleitzahl</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control" type="number" name="blz" required="" placeholder="50080000" pattern="[0-9]" autofocus="" >
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
							  <button type="submit" class="btn btn-success">IBAN und BIC berechnen</button>
							</div>
						</div>
						<br>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">IBAN</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control iban" type="text" name="iban" required="" placeholder="DE12123423453456456789">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">BIC</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input class="form-control iban" type="text" name="bic" required="" placeholder="PBXXXXFF">
							</div>
						</div>
						<div class="ln_solid"></div>
						
						
						
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Monatlicher Beitrag</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="input-group">
									<input class="form-control" type="number" name="monthlyfee" required="" value="9" pattern="[0-9]" autofocus="">
									<span class="input-group-addon">.00 €</span>
								</div>
							</div>
						</div>
						<div class="form-group"> 
							<label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div id="membership_type" class="btn-group btn-group-justified" data-toggle="buttons">
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="1"> &nbsp; 3 &nbsp;€
									</label>
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="2"> &nbsp; 6 &nbsp;€
									</label>
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
										<input type="radio" name="membership_type" value="3"> &nbsp; 30 &nbsp;€
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">SEPA-Einwilligung</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="checkbox">
									<label>
									  <input type="checkbox" value=""> <span class="required">*</span>
									</label>
                          </div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Resizable Text area</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
							  <textarea readonly="readonly" stype="font-size: 8px;" rows="5" class="resizeable-textarea form-control" placeholder="">Ich ermächtige den Frankfurter Kelterei Kultur e.V., Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die vom Frankfurter Kelterei Kultur e.V. auf mein Konto gezogenen Lastschriften einzulösen. Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belastenden Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.&#10;&#10;Frankfurter Kelterei Kultur e.V. &#10;&#10;Gläubiger-Identifikationsnummer und Mandatsreferenz werden separat mitgeteilt.</textarea>
							</div>
						  </div>
						
					</div>
				</div>
			</form>

			
			
			
        </div>
</div>
	</div>
	
	
	<!-- footer -->
	<div class="row" id="footer" style="margin:0;padding:5px 0;"> 
		Frankfurter Kelterei Kultur e.V. 2018
	</div>
	
	
    </div><!-- /container -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!--<script src="assets/js/iban.js"></script>-->
	
	
	
</body>

</html>
